@model ProfileViewModel
@using Microsoft.AspNetCore.Identity
@{
    
}

@* TODO: add the profile image *@
<h1 class="display-4 fw-normal">@User.Identity.Name</h1>
<h4>@Model.City -@Model.State -@Model.Country </h4>
<a type="button" class="btn btn-primary" asp-area="" asp-controller="Space" asp-action="Create">Publish new space</a> 
<a type="button" class="btn btn-primary" asp-area="" asp-controller="UserProfile" asp-action="EditUserProfile">Edit User Profile</a>
 <div class="album py-5 bg-light">
    <div class="container">
        <h2 class="display-4 fw-normal">Your Spaces</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            @foreach (var item in Model.Space)
            {

                <partial name="_CardPartial" model="@item" />
            }
        </div>
        

    </div>
</div>


